<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ugr.nesg.gmacia.mdsm">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="es.ugr.nesg.gmacia.mdsm.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="es.ugr.nesg.gmacia.mdsm.WifiReceiver" android:exported="false" >
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> <!-- Permite saber cuándo el usuario desactiva la WIFI o la activa -->
                <action android:name="android.net.wifi.STATE_CHANGE" /> <!-- Permite saber cuándo cambia la SSID de la WIFI -->
            </intent-filter>
        </receiver>

        <service android:name="es.ugr.nesg.gmacia.mdsm.WifiReceiver$WifiActiveService" android:exported="false" />
    </application>

</manifest>